@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>the foremost authority for a good humor that you will not find anywhere on your local host</a></p>
</div>
